*.jsonl filter=lfs diff=lfs merge=lfs -text
eval/math_evaluation/data/tabmwp/test.jsonl filter=lfs diff=lfs merge=lfs -text
eval/alpacaeval/results/llama_3_1_8B_instruct/alpaca_eval_output_weighted_alpaca_eval_gpt-4o-2024-08-06_vs_gpt4_1106_preview.json/weighted_alpaca_eval_gpt-4o-2024-08-06/annotations.json filter=lfs diff=lfs merge=lfs -text
eval/alpacaeval/results/llama_3_1_8B_instruct/annotations_cache_annotator_weighted_alpaca_eval_gpt-4o-2024-08-06_vs_gpt4_1106_preview.json filter=lfs diff=lfs merge=lfs -text
eval/alpacaeval/src/alpaca_eval/evaluators_configs/weighted_alpaca_eval_gpt-4o-2024-08-06/annotations_seed0_configs.json filter=lfs diff=lfs merge=lfs -text
eval/alpacaeval/src/alpaca_eval/evaluators_configs/weighted_alpaca_eval_gpt-4o-mini-2024-07-18/annotations_seed0_config.json filter=lfs diff=lfs merge=lfs -text
math_evaluation/data/tabmwp/test.jsonl filter=lfs diff=lfs merge=lfs -text
data/numina_cot_100k.jsonl filter=lfs diff=lfs merge=lfs -text
data/numina_cot_30k.jsonl filter=lfs diff=lfs merge=lfs -text
data/magpie10k.jsonl filter=lfs diff=lfs merge=lfs -text
data/numina_cot_10k.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/cache/torch_extensions/py310_cu121/fused_adam/fused_adam_frontend.o filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_dft_zero2_lr5e5_b1_20260122_220858_math_eval_8gpu/math_oai_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_dft_zero2_lr5e5_b1_20260122_220858_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_lr5e5_b1_20260122_181225_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_lr5e5_b1_20260122_181225_math_eval/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_zero2_lr2e5_b1_20260122_183335_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_sft_lr5e5_b2_20260122_155454_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_zero2_lr5e5_b1_20260122_190210_math_eval_8gpu/math_oai_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_zero2_lr5e5_b1_20260122_190210_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_dft_lr2e5_b1_20260122_210723_math_eval_8gpu/math_oai_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_dft_lr2e5_b1_20260122_210723_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_dft_lr5e5_b1_20260122_212528_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_sft_lr2e5_b2_20260122_161357_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_lr2e5_b1_20260122_175100_math_eval_8gpu/math_oai_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_lr2e5_b1_20260122_175100_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_dft_zero2_lr2e5_b1_20260122_214358_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_sft_zero2_lr2e5_b2_20260122_164119_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_lr2e5_b1_20260122_175100_math_eval/math_oai_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_asft_lr2e5_b1_20260122_175100_math_eval/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/logs/math_qwen25_sft_zero2_lr5e5_b2_20260122_170319_math_eval_8gpu/olympiadbench_final_results.json filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_20260122_032759/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_20260122_032759/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_20260122_032759/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_kl003_20260122_132259/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_kl003_20260122_132259/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_kl003_20260122_132259/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_20260122_121016/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_20260122_121016/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_20260122_121016/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_tiny_baseline_bf16_gpu_20260122_030942/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_tiny_baseline_bf16_gpu_20260122_030942/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_tiny_baseline_bf16_gpu_20260122_030942/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr5e5_b1_20260122_181225/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr5e5_b1_20260122_181225/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr5e5_b1_20260122_181225/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr5e5_b1_20260122_181225/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_20260122_125443/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_20260122_125443/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_20260122_125443/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_baseline_bf16_20260122_031413/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_baseline_bf16_20260122_031413/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_baseline_bf16_20260122_031413/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr2e5_b1_20260122_214358/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr2e5_b1_20260122_214358/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr2e5_b1_20260122_214358/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr2e5_b1_20260122_214358/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr5e5_b2_20260122_170319/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr5e5_b2_20260122_170319/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr5e5_b2_20260122_170319/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr5e5_b2_20260122_170319/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_kl003_20260122_133807/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_kl003_20260122_133807/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_kl003_20260122_133807/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr5e5_b1_20260122_212528/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr5e5_b1_20260122_212528/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr5e5_b1_20260122_212528/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr5e5_b1_20260122_212528/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_kl007_20260122_130758/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_kl007_20260122_130758/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_kl007_20260122_130758/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr5e5_b1_20260122_220858/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr5e5_b1_20260122_220858/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr5e5_b1_20260122_220858/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_zero2_lr5e5_b1_20260122_220858/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr2e5_b1_20260122_183335/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr2e5_b1_20260122_183335/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr2e5_b1_20260122_183335/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr2e5_b1_20260122_183335/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_20260122_123918/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_20260122_123918/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_bf16_opt_20260122_123918/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_kl0025_20260122_135142/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_kl0025_20260122_135142/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_bf16_opt_kl0025_20260122_135142/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr2e5_b1_20260122_210723/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr2e5_b1_20260122_210723/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr2e5_b1_20260122_210723/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_dft_lr2e5_b1_20260122_210723/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_fp16_20260122_034346/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_fp16_20260122_034346/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero2_fp16_20260122_034346/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr2e5_b1_20260122_175100/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr2e5_b1_20260122_175100/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr2e5_b1_20260122_175100/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_lr2e5_b1_20260122_175100/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_tiny_baseline_bf16_20260122_022210/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_tiny_baseline_bf16_20260122_022210/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_tiny_baseline_bf16_20260122_022210/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr2e5_b2_20260122_161357/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr2e5_b2_20260122_161357/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr2e5_b2_20260122_161357/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr2e5_b2_20260122_161357/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr2e5_b2_20260122_164119/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr2e5_b2_20260122_164119/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr2e5_b2_20260122_164119/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_zero2_lr2e5_b2_20260122_164119/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr5e5_b1_20260122_190210/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr5e5_b1_20260122_190210/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr5e5_b1_20260122_190210/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_asft_zero2_lr5e5_b1_20260122_190210/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_fp16_20260122_122620/model-00001-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_fp16_20260122_122620/model-00003-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/med_asft_zero3_fp16_20260122_122620/model-00002-of-00003.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr5e5_b2_20260122_155454/model-00003-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr5e5_b2_20260122_155454/model-00002-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr5e5_b2_20260122_155454/model-00004-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/trained/math_qwen25_sft_lr5e5_b2_20260122_155454/model-00001-of-00004.safetensors filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v2/Qwen2.5-7B-Instruct_20260124_032216/__volume__demo__xlzhuang__zh__models__Qwen2.5-7B-Instruct/samples_leaderboard_mmlu_pro_2026-01-24T03-36-52.322002.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_021518/hellaswag/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_hellaswag_2026-01-24T02-48-56.132287.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_021518/arc_challenge/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_arc_challenge_2026-01-24T02-20-21.476592.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260123_220341/hellaswag/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_hellaswag_2026-01-23T22-22-37.296398.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260123_220341/arc_challenge/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_arc_challenge_2026-01-23T22-09-56.214033.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260123_220341/mmlu/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_mmlu_professional_law_2026-01-23T23-20-57.407961.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260123_220341/mmlu/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_mmlu_professional_law_2026-01-23T22-54-28.524389.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260123_220341/mmlu/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_mmlu_moral_scenarios_2026-01-23T23-20-57.407961.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260123_220341/mmlu/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_mmlu_moral_scenarios_2026-01-23T22-54-28.524389.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_021554/arc_challenge/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_arc_challenge_2026-01-24T02-20-38.370902.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_025152/mmlu/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_mmlu_professional_law_2026-01-24T02-56-19.920224.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_025152/mmlu/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_mmlu_moral_scenarios_2026-01-24T02-56-19.920224.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_024952/arc_challenge/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_arc_challenge_2026-01-24T02-51-10.628164.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_023602/hellaswag/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_hellaswag_2026-01-24T03-09-59.218672.jsonl filter=lfs diff=lfs merge=lfs -text
experiment/results/openllm_v1/Llama-2-7b-chat-hf_20260124_023602/arc_challenge/__volume__demo__xlzhuang__zh__models__Llama-2-7b-chat-hf/samples_arc_challenge_2026-01-24T02-41-17.636248.jsonl filter=lfs diff=lfs merge=lfs -text
